.main-slider {
    position: relative;

    @include xs {
        margin-top: 56px;
    }

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            outline: none;
            border: none;
            transform: translateY(-50%);
            border-radius: 50%;
            background: rgba($black, 0.502);
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $fff;
            font-size: 16px;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: 67px;
            }

            &.owl-prev {
                right: 67px;
            }

            &:hover {
                color: $black;
                background: $fff;
            }
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            bottom: 5px;
        }

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $fff;
                pointer-events: none;
            }

            &:hover {
                background: $fff;
            }
        }
    }
}

.new-arrival {
    margin-top: 70px;

    @include xs {
        margin-top: 40px;
    }
}

.Product-slider {
    margin-top: 34px;

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 102px;
            outline: none;
            border: none;
            color: $black;
            font-size: 16px;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -35px;

                @include md {
                    left: -10px;
                }
            }

            &.owl-prev {
                right: -35px;

                @include md {
                    right: -10px;
                }
            }

            &:hover {
                color: $red;
            }
        }
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $red;
                pointer-events: none;
            }

            &:hover {
                background: $red;
            }
        }
    }
}

.product {
    @include xs {
        margin: auto;
    }

    .item-img {
        position: relative;
        overflow: hidden;
        max-width: 220px;
        max-height: 220px;

        img {
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            img {
                transform: scale(1.1) rotate(-5deg);
            }

            .tools {
                visibility: visible;
                opacity: 1;
            }

            .mo-add-to {
                transform: scale(1);
            }
        }
    }

    .tools {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s ease-in-out);
    }

    .mo-add-to {
        background-color: $fff;
        font-size: 16px;
        color: $black;
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 33px;
        margin: 0 2.5px;
        @include transition(all 0.3s ease-in-out);
        transform: scale(0);

        .text {
            font-size: 14px;

            @include xs {
                display: none;
            }
        }

        &.mo-add-to-cart {
            width: 156px;

            span {
                margin: 0 4px;
            }

            @include xs {
                width: 33px;
            }
        }

        &:hover {
            background-color: $red;
            color: $fff;
        }
    }

    .item-info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 17px;
    }

    .pro-name {
        font-size: 15px;
        color: $black;
        @include transition(all 0.3s ease-in-out);
        margin-bottom: 10px;

        &:hover {
            color: $red;
        }
    }

    .pro-price {
        color: $red;
        font-family: bold;
        font-size: 16px;
    }
}


.brands-cont {
    margin-top: 109px;

    @include xs {
        margin-top: 60px;
    }
}

.brand-slider {
    margin-top: 24px;
    position: relative;

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            border: none;
            color: $black;
            font-size: 16px;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -35px;

                @include md {
                    left: -10px;
                }
            }

            &.owl-prev {
                right: -35px;

                @include md {
                    right: -10px;
                }
            }

            &:hover {
                color: $red;
            }
        }
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $red;
                pointer-events: none;
            }

            &:hover {
                background: $red;
            }
        }
    }
}

.brand {
    border: 1px solid #f2f2f2;
    width: 137px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $fff;
    overflow: hidden;
    @include transition(all 0.3s ease-in-out);

    @include xs {
        margin: auto;
    }

    img {
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        border-color: $red;

        img {
            transform: scale(0.95);
        }
    }
}

.gallery {
    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 4px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $red;
                pointer-events: none;
            }

            &:hover {
                background: $red;
            }
        }
    }
}