.mo-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 33px;
    text-transform: capitalize;
}

#{$ltr} .mo-navbar {
    margin-left: 0;
    margin-right: 33px;
}




.nav-li {
    margin-left: 20px;

    &:last-of-type {
        margin: 0;
    }
}

#{$ltr} .nav-li {
    margin-right: 20px;
    margin-left: 0;

    &:last-of-type {
        margin: 0;
    }

    @include xs {
        margin: 0;
        width: 100%;
    }
}

.nav-anchor {
    font-size: 16px;
    color: $fff;
    font-family: med;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $hover;
    }
}