.navbar-cont {
    .close-btn {
        font-size: 20px;
        color: $more;
        position: absolute;
        left: 25px;
        top: 25px;
        display: none;
    }
}

.navbar-cont {
    @include xs {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($black, 0.4);
        z-index: 99;


        .mo-navbar {
            background-color: $fff;
            width: 280px;
            flex-direction: column;
            height: 100vh;
            padding: 80px 25px 0;
            align-items: flex-start;
            justify-content: flex-start;
            transform-origin: right;
            transform: scaleX(0);
            @include transition(all 0.3s ease-in-out);

            &.nav-in {
                transform: scaleX(1);
            }
        }

        .close-btn {
            display: flex;
        }

        .nav-li {
            margin: 5px 0;
        }

        .nav-anchor {
            color: $black;
        }

        .megaslide {
            display: none;
        }

        .megamenu-div {
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            background-color: $fff;
            padding: 0 10px;
            width: auto;
            box-shadow: none;
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            visibility: visible;
            opacity: 1;

            .mega-div {
                width: 100%;
                margin: 8px 0 0;
            }

            .mega-ul {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                max-height: 0;
                overflow: hidden;
            }



            .mega-head {
                margin: 0;

                .mega-head-a {
                    font-size: 16px;
                    font-family: bold;
                    color: $black;
                }
            }

            .mega-li {
                margin: 0 0 5px;
            }

            .mega-a {
                font-size: 15px;
                color: #666;
                display: flex;
                align-items: center;
                @include transition(all 0.3s ease-in-out);

                &:hover {
                    color: $red;
                    transform: translateX(-8px);
                }
            }
        }
    }

}