body {
    position: relative;
    font-family: tajwal;
    overflow: hidden;

    &::-webkit-scrollbar {
        background-color: rgba(#9c9c9c, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ed1b24;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #ed1b24 rgba(#9c9c9c, 0.5);
}

.overflow {
    overflow: hidden !important;
}